public-hoist-pattern[]=*@codemirror/*
public-hoist-pattern[]=*@floating-ui/*
public-hoist-pattern[]=*@formatjs/*
public-hoist-pattern[]=*@dnd-kit/*
public-hoist-pattern[]=*@cyntler/*
strict-peer-dependencies=false

# Speed optimizations
prefer-offline=true
store-dir=/teamspace/studios/this_studio/.pnpm-store/v3
frozen-lockfile=true
side-effects-cache=true
verify-store-integrity=false

